<%- include("partials/header.ejs") %>
<h1>
    Plan your day
</h1>


<div class="date"><%= currentDate %> <%=currentMonth %> <%= currentYear %></div>

<form class="container search-bar grid-container" action="/submit" method="post">
    <!--autocomplete="off" is used for switching off the suggestions when the input box is clicked-->
    <input class="input" type="text" name="taskForToday" placeholder="Enter Task" autocomplete="off">
    <button class="submit-btn" style="background-color: #03045e; color: white; border: 0px;">Add Task</button>
</form>


<div class="center">
<% for(i=0;i < newTaskOfDay.length; i++) { %>
    <div class="list-group container task">
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
                <%= newTaskOfDay[i] %>
            </span>
        </label>
    </div>
<% } %>
</div>

